body {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

span.main{
    box-sizing:border-box;
}

.checkbox-label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* Adjust spacing between checkbox and text */
}

header {
	background-color: #840000;
	color: #FFFFFF;
	text-align: center;
	padding: 1px;
}
nav {
	text-align: left;
	background-color: #d95f5f;
	font-weight: bold;
	padding: 10px;
}
nav a {
	text-decoration: none;
	padding: 10px;
    color: black;
}

li {
	list-style: none;
}
table {
	table-layout: auto;
	width: 80%;
	margin: auto;
	border-collapse: collapse;
}
th {
	background-color: #d95f5f;
	color: #000000;
	font-size: 20px;
}
td, th {
	padding: 0.5em;
	border: 2px solid #d95f5f;
}
td {
	text-align: center;
}
td img {
	width: 50px;
	height: auto;
}
label {
	font-weight: bold;
}
footer {
	clear: both;
	text-align: center;
	padding: 5px;
}
.pagination {
	display: inline-block;
}
.pagination a {
	color: #d95f5f;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border: 1px solid #d95f5f;
}
.pagination a.current {
	background-color: #d95f5f;
	font-weight: bold;
	color: #FFFFFF;
}
  
div.item {
    display: inline-block;
	margin: 15px;
	/*float: left;*/
	width: 400px;
	height: 200px;
}
  
div.item img {
  width: 75px;
  height: auto;
}
div.desc {
  padding: 5px;
  text-align: center;
}

#div_check{
	width: 21px;
	height: 16px;
}

#add {
  border: none;
  width: 400px;
  font-size: 20px;
  font-weight: bold;
  background-color: #d95f5f;
  color: #FFFFFF;
  transition: background-color 0.3s ease;

}

#add:hover {
	background-color: #840000; 
}

#quantity {
	width: 3em;
	text-align: center;
	margin-bottom: 5px;
}


#btn {
  border: none;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  background-color: #0080FF;
  color: #FFFFFF;
}
#btn a {
  color: #FFFFFF;
  text-decoration: none;
}
#invoice {
	table-layout: auto;
	width: 30%;
	margin: auto;
	border-collapse: collapse;
}
#invoice th {
	background-color: #FFFFFF;
	color: #000000;
	font-size: 16px;
	text-align: right;
}
#invoice td, th {
	padding: 0.5em;
	border: 1px solid #000000;
}
#invoice td {
	text-align: left;
}

#filter{
	display: inline-block;
	margin-right: 15px;
    border-style: double;
    border-color: #840000;
}

#filter h1
{
    color: #840000;
}

span
{
    display: inline-block;
    padding: 10px;

}

span a
{
    text-decoration: none;
}

#spurs label
{
	border-bottom: solid silver;
	color: black;
}

#warriors label
{
	border-bottom: solid gold;
	color: black;
}

#cavs label
{
	border-bottom: solid #840000;
	color: black;
}

#spurs:hover, #warriors:hover, #cavs:hover {
	border-bottom: solid 5px #840000; 
}